* {
	box-sizing: border-box;
}

header{
	position:fixed;
	width:100%;
}

.main-header {
	display: flex;
	height: 50px;
	width:100%
}

nav {
	width: 60%;
	display: flex;
	justify-content: flex-start;
	align-items: center;

}

.nav-items {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
	list-style: none;
}



.nav-items li>a {
	text-decoration: none;
	color: #aaa;
	font-size: 16px;
}

.nav-items li>a:hover{
	color:#4F4F4F;
}

.right-nav{
	display:flex;
	justify-content: space-around;
	align-items: center;
	border-left:1px solid black;
	width: 40%;
}

.right-nav button {
	padding:8px;
	border-radius: 8px;
	color:white;
	background: #00D2CE;
	border:none;
	font-size: 11px;
	font-weight: bold;
}

.right-nav button:hover{
	background:#A800C7;
	cursor: pointer;
}



